<div
  class="container loading-fog"
  [class.loading-fog--show]="isLoading"
  [class.test]="!readonly && !isLoading">
  <mat-card class="mat-card">
    <mat-card-subtitle>
      <div class="tweet__author">Author: {{ tweet.author }}</div>
      <div class="tweet__status">{{ tweet | tweetState }}</div>
    </mat-card-subtitle>
    <mat-card-content class="mat-card__content">
      <p class="tweet__content">{{ tweet.content }}</p>
    </mat-card-content>
    <ng-container *ngIf="!readonly">
      <div class="mat-card__dropdown">
        <div></div>
        <div class="mat-card__actions">
          <button mat-button color="primary" (click)="onUpdate()">Edit</button>
          <button mat-button color="warn" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </ng-container>
  </mat-card>
</div>
<ng-container *ngIf="isLoading">
  <div class="spinner">
    <mat-spinner [diameter]="25"></mat-spinner>
  </div>
</ng-container>
