@import '/src/styles/abstracts/variables';
.tweet {
  &:host {
    position: relative;
    display: block;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    &:nth-child(odd) {
      background: rgba(170, 174, 191, 0.15);
    }

    &:first-child {
      border-top: 1px solid black;
    }
  }
  &__status {
    color: green;
  }

  &__author {
    color: $color-violet-blue;
  }
  &__content {
    overflow-wrap: break-word;
    color: $color-grey-dark;
    max-width: 645px;
  }
}

.mat-card {
  background: rgb(0, 0, 0, 0);
  box-shadow: none;

  &__dropdown {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  &__content {
    margin-bottom: 0;
    white-space: pre-wrap;
  }

  &:hover {
    background: rgba(63, 81, 181, 0.15);
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -25%);
}
