<form (ngSubmit)="onNoClick()" [formGroup]="editForm">
  <mat-label>
    <span>Author: </span>
    <span>{{ author }}</span>
  </mat-label>
  <div mat-dialog-content>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Your tweet</mat-label>
      <textarea
        matInput
        formControlName="content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        placeholder="hi"
        required
        name="content">
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial type="submit">Cancel</button>
    <button
      [disabled]="editForm.invalid"
      mat-button
      color="warn"
      [mat-dialog-close]="content">
      Ok
    </button>
  </div>
</form>
