<form (ngSubmit)="onNoClick()" #heroForm="ngForm">
  <mat-label>
    <span>Author: </span>
    <span>{{ data.tweet.author }}</span>
  </mat-label>
  <div mat-dialog-content>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Your tweet</mat-label>
      <textarea
        matInput
        [(ngModel)]="content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        placeholder="hi"
        required
        name="content">
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial type="submit">Cancel</button>
    <button
      mat-button
      color="warn"
      [mat-dialog-close]="content"
      [disabled]="!heroForm.form.valid || !heroForm.form.dirty">
      Ok
    </button>
  </div>
</form>
