.tweet-feed:host {
  display: block;
  flex: 1;
}

.tweet-feed-container {
  max-height: calc(100vh - 264px);
  overflow-y: auto;
  &__item {
    border: 1px solid rgba(0, 0, 0, 0.87);
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
