@import '/src/styles/abstracts/variables';

.tweet-feed {
  &:host {
    display: block;
    flex: 1;
  }
  ::ng-deep &__no-tweets {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 200px;
    color: $color-grey-dark;
  }
}

.tweet-feed-container {
  max-height: calc(100vh - 264px);
  overflow-y: auto;
  &__item {
    border: 1px solid rgba(0, 0, 0, 0.87);
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
