@import '/src/styles/abstracts/variables';
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #3f51b5;

  &__title {
    display: flex;
    justify-content: center;
    color: $color-white;
    font-weight: normal;
    font-size: 3.5rem;
    margin: 28px;
  }
}
