<div class="page">
  <div class="page__header">
    <button
      class="ex"
      [disabled]="isConnectedToMetaMask$ | async"
      (click)="connectToMetaMask()"
      mat-flat-button
      color="warn">
      Connect to Metamask
    </button>
  </div>
  <div class="page__content">
    <div>
      <div class="account">Account: {{ account$ | async }}</div>
      <app-create-tweet (the)="onCreateTweet($event)"></app-create-tweet>
    </div>
    <app-user-feed>
      <ng-container *ngFor="let tweet of tweets$ | async">
        <div class="feed__item">
          <app-tweet
            [msg]="tweet"
            (delete)="onDeleteTweet($event)"
            (update)="onUpdateTweet($event)"></app-tweet>
        </div>
      </ng-container>
    </app-user-feed>
  </div>
</div>
