<div class="page">
  <div class="page__header">
    <button
      [disabled]="selectedAccount !== ''"
      (click)="connectToMetaMask()"
      mat-flat-button
      color="warn">
      Connect to Metamask
    </button>
  </div>
  <div class="page__content">
    <div>
      <div class="account">Account: {{ selectedAccount }}</div>
      <app-create-tweet
        [disabled]="selectedAccount === ''"
        (create)="onCreateTweet($event)"></app-create-tweet>
    </div>
    <app-tweet-feed>
      <ng-container *ngFor="let tweet of tweets$ | async">
        <app-tweet
          [readonly]="tweet.author !== selectedAccount"
          [tweet]="tweet"
          (delete)="onDeleteTweet(tweet)"
          (update)="onUpdateTweet(tweet)"
          [isLoading]="tweetsloadingState[tweet.id] || false"></app-tweet>
      </ng-container>
    </app-tweet-feed>
  </div>
</div>
