<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="page">
  <div class="page__header">
    <button
      class="ex"
      [disabled]="isConnectedToMetaMask$ | async"
      (click)="connectToMetaMask()"
      mat-flat-button
      color="warn">
      Connect to Metamask
    </button>
  </div>
  <div class="page__content">
    <div>
      <div class="account">Account: {{ activeAccount$ | async }}</div>
      <app-create-tweet (create)="onCreateTweet($event)"></app-create-tweet>
    </div>
    <app-user-feed>
      <ng-container *ngFor="let tweet of tweets$ | async">
        <div class="feed__item">
          <app-tweet
            [readonly]="tweet.author !== (activeAccount$ | async)"
            [tweet]="tweet"
            (delete)="onDeleteTweet($event, tweet)"
            (update)="onUpdateTweet($event, tweet)"></app-tweet>
        </div>
      </ng-container>
    </app-user-feed>
  </div>
</div>
