::host {
  display: block;
}

.add-tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__field {
    width: 500px;
  }

  &__submit-btn {
    width: 500px;
    height: 40px;
  }
}

.ex {
  width: 500px;
  margin-bottom: 50px;
}
