:host {
  display: block;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__field {
    width: 500px;
  }

  &__submit-btn {
    width: 500px;
    height: 40px;
  }
}
